<div class="panier">
    <div class="interieur">
        <img class="fermer" src="~/Content/Images/Boutons/Fermer.svg" />
        <div class="titre">MON PANIER</div>
        <table cellpadding="0" cellspacing="0" border="0" class="texte">
            <tr>
                <th>Produit</th>
                <th>Qté</th>
                <th>Prix</th>
                <th></th>
            </tr>
            <tr>
                <td>ARMURE DU CHEVALIER DU ZODIAQUE / SAINT SEIYA&nbsp;:&nbsp;HADES V4 15TH</td>
                <td>1</td>
                <td>150,00€</td>
                <td>&nbsp;<span class="jaune" title="Supprimer">✖</span></td>
            </tr>
            <tr>
                <td>ARMURE DU CHEVALIER DU ZODIAQUE / SAINT SEIYA&nbsp;:&nbsp;ATHENA V4 10TH</td>
                <td>1</td>
                <td>120,00€</td>
                <td>&nbsp;<span class="jaune" title="Supprimer">✖</span></td>
            </tr>
        </table>
        <div class="total texte">
            <div>Frais de port : <span>5€</span></div>
            <div>Total : <span>275€</span></div>
        </div>
        <div class="adresse texte">
            <div class="jaune">Adresse de livraison : </div>
            <div class="clear-left"></div>
            <input type="text" placeholder="N°/Route" class="route" />
            <input type="text" placeholder="Autre information de livraison" class="complement" />
            <input type="text" placeholder="Code postal" class="codepostal" />
            <input type="text" placeholder="Ville" class="ville" />
            <input type="text" placeholder="Email" class="mail" />
            <input type="text" placeholder="Téléphone" class="phone" />
        </div>
        <img src="~/Content/Images/Paypal.svg" title="Paiement sécurisé" class="paypal" />
        <input type="button" title="Valider" value="Valider" class="fright" />
        <div class="clear-right"></div>
    </div>
</div>


<script language="javascript" src="@Url.Content("~/Areas/Produits/Scripts/Views/Shared/Panier.js")" type="text/javascript"></script>