<div id="Div_Actu" class="modal_actu">
    <img class="fermer" src="~/Content/Images/Boutons/Fermer.svg" />
    <img class="full" />
    <div class="clear"></div>
    <div class="titre">
        <div><span></span></div>
        <div><label>Parue le 29/10/2018 16:47 - Créée le 29/10/2018 16:47 - Modifiée le 29/10/2018 16:53</label></div>
    </div>
    <div class="clear"></div>
    <div class="texte">
        <img class="logo" />
        <img class="photo" />
        <span></span>
    </div>
    <div class="clear"></div>
</div>

<script language="javascript" src="@Url.Content("~/Areas/Contenus/Scripts/Views/Shared/Actualite.js")" type="text/javascript"></script>
