
@{
    Layout = "~/Views/Shared/_LayoutBackOffice.cshtml";
}

<script>System.import('app/Evenements/main.js').catch(function (err) { console.error(err); });</script>


<h1>Gestion des evenements : stages, tournois, cours, competitions</h1>

<my-app><img src="~/Content/Images/ajax-loader.gif" title="Merci de patienter" /></my-app>

<script language="javascript" src="@Url.Content("~/Areas/Evenements/Scripts/Views/Evenements.js")" type="text/javascript"></script>
