@{
    ViewBag.Title = "Tournois";
    Layout = "~/Views/Shared/_LayoutFrontOffice.cshtml";
}


<div class="tournois">

    <div class="zone">
        <img class="photo" src="~/Content/Images/Tournois.jpg" />
        <div class="titre">LES TOURNOIS DE L'ECOLE DU CAVALIER ROI</div>
        <div class="texte">
            Les tournois du Cavalier Roi se feront en partenariat avec la Ville et le Club d'Echecs d'Ollioules.
            <br />
            Nous vous accueillerons avec grand plaisir dans un cadre où convivialité rimera avec compétitivité !
            <br />
            <br />
            Il y aura tout au long de la saison plusieurs tournois qui seront bien évidement homologués FIDE :
            <br />
            - Tournois de Blitz
            <br />
            - Tournois Rapide
            <br />
            - Tournois Internationaux en parties longues
            <br />
            - Stage / Tournoi
            <br />
            <br />
            Nous vous réservons très prochainement quelques petites surprises... 😉


            @*Quelle meilleure solution pour se mettre à l'épreuve et jauger ses progrès que de se confronter à d'autres joueurs ?
            <br />
            <br />
            L'école du Cavalier Roi organise pour vous des tournois où convivialité et sportivité rimeront avec compétitivité !
            <br />
            <br />
            Nous vous proposons de venir participer à nos tournois où toutes les conditions de jeu seront au rendez vous pour offrir un pur moment de plaisir échiquéen.
            <br />
            <br />
            Tournoi de Blitz et de Blitz à 4, partie Rapides et longues avec homologation FIDE, ainsi que des formules Stages / Tournois et cela tout au long de l'année.
            <br />
            <br />
            Pour tout renseignement, n'hésitez pas à nous contacter ou vous inscrire directement en ligne afin de valider votre participation !*@


        </div>
    </div>

    <div class="clear"></div>

    <div class="tournoi">
        <img class="photo" src="~/Content/Images/Actu_Kasparov_Bandeau.jpg" />
        <img class="full" src="~/Content/Images/TournoiAffiche.jpg" title="Agrandir" />
        <div class="please">
            <div class="titre">TOURNOI ETE 2019</div>
            <table cellpadding="0" cellspacing="0" border="0" class="formule texte">
                <tr>
                    <td class="prix">10,00€&nbsp;&nbsp;</td>
                    <td class="reserver"><input type="button" title="Participer" value="Participer" /></td>
                </tr>
            </table>
        </div>
        <div class="clear-left"></div>
        <div class="descriptif texte">
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ip.
            <br />
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ip.
            <br />
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ip.
            <br />
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ip.
            <br />
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ip...
        </div>
        <div class="date">
            <div>Date de début : <span>14/01/2019 10:00</span></div>
            <div class="clear-left"></div>
            <div>Date de fin : <span>18/01/2019 17:00</span></div>
            <div class="clear-left"></div>
            <div>Date limite d'inscription : <span>25/12/2019 20:00</span></div>
            <div class="clear-left"></div>
            <div>Nombre limite d'inscriptions : <span>15</span></div>
            <div class="clear-left"></div>
        </div>
    </div>

    <div class="tournoi last">
        <img class="full" src="~/Content/Images/TournoiAffiche.jpg" />
        <div class="please">
            <div class="titre">TOURNOI ETE 2020</div>
            <table cellpadding="0" cellspacing="0" border="0" class="formule texte">
                <tr>
                    <td class="prix">20,00€&nbsp;&nbsp;</td>
                    <td class="reserver"><input type="button" title="Participer" value="Participer" /></td>
                </tr>
            </table>
        </div>
        <div class="clear-left"></div>
        <div class="descriptif texte">
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ip.
            <br />
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ip.
            <br />
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ip.
            <br />
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ip.
            <br />
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ip...
        </div>
        <div class="date">
            <div>Date de début : <span>14/01/2019 10:00</span></div>
            <div class="clear-left"></div>
            <div>Date de fin : <span>18/01/2019 17:00</span></div>
            <div class="clear-left"></div>
            <div>Date limite d'inscription : <span>25/12/2019 20:00</span></div>
            <div class="clear-left"></div>
            <div>Nombre limite d'inscriptions : <span>15</span></div>
            <div class="clear-left"></div>
        </div>
    </div>

    <div class="clear"></div>

    <div class="zone">
        <img class="photo" src="~/Content/Images/Tournois.jpg" style="display:none;" />
        <div class="titre">PLUS DE TOURNOIS</div>
        <div class="texte">
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ip...
        </div>
    </div>

    <div class="clear"></div>

    <div class="exterieurs">
        <div class="slider">
            <div class="container">
                <div class="content">
                    <ul>
                        <li class="li1">
                            <div><a href="" target="_blanck"><img class="affiche" src="~/Content/Images/Tournois/1.png" title="Agrandir" /></a></div>
                            <div class="legende"><input type="button" value="Participer" title="Participer" /></div>
                        </li>
                        <li class="li2">
                            <div><a href="" target="_blanck"><img class="affiche" src="~/Content/Images/Tournois/2.jpg" title="Agrandir" /></a></div>
                            <div class="legende"><input type="button" value="Participer" title="Participer" /></div>
                        </li>
                        <li class="li3">
                            <div><a href="" target="_blanck"><img class="affiche" src="~/Content/Images/Tournois/3.jpg" title="Agrandir" /></a></div>
                            <div class="legende"><input type="button" value="Participer" title="Participer" /></div>
                        </li>
                        <li class="li4">
                            <div><a href="" target="_blanck"><img class="affiche" src="~/Content/Images/Tournois/4.png" title="Agrandir" /></a></div>
                            <div class="legende"><input type="button" value="Participer" title="Participer" /></div>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
                <div class="pagination" style="display:block;">
                    <div class="puces">
                        <input name="slider" id="Radio_Pagination0" type="radio" checked="checked">
                        <input name="slider" id="Radio_Pagination1" type="radio">
                        <input name="slider" id="Radio_Pagination2" type="radio">
                        <input name="slider" id="Radio_Pagination3" type="radio">
                        <input name="slider" id="Radio_Pagination4" type="radio">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clear"></div>

    @Html.Partial("~/Views/Shared/PartenariatsEncarts.cshtml", null)

    <div class="clear"></div>

</div>

<script language="javascript" src="@Url.Content("~/Areas/Evenements/Scripts/Views/Tournois.js")" type="text/javascript"></script>
