
@{
    Layout = "~/Views/Shared/_LayoutBackOffice.cshtml";
}

<script>System.import('app/Commandes/main.js').catch(function (err) { console.error(err); });</script>


<h1>Gestion des commandes</h1>

<my-app><img src="@Constants.IMG_URL/ajax-loader.gif" title="Merci de patienter" /></my-app>