<div class="filtre">
    <h2>Filtre</h2>

    <div class="elements">
        <input type="number" placeholder="ID Evènement" title="ID Evènement" min="0" [value]="_Id" #Id />
        <div class="br10"></div>
        <input type="text" placeholder="Libellé" title="Libellé" maxlength="255" #Libelle />
        <div class="br10"></div>
        <select placeholder="Typologie/Evènement parent" title="Typologie/Evènement parent" (change)="ChangeTypologieEvenementParent($event, 0)">
            <option value="">Typologie/Evènement parent</option>
            <option *ngFor="let t of _TypologiesEvenementsParents" [value]="t.FormatedId" [selected]="((_EvenementParentId != null) && (t.Id == _EvenementParentId)) || t.FormatedId == _TypologieId">{{t.Libelle}}</option>
        </select>
        <input type="hidden" [value]="_EvenementParentId" #EvenementParentId />
        <input type="hidden" [value]="_TypologieId" #TypologieId />
        <div class="br10"></div>
        <input type="datetime" placeholder="Date de début minimale" title="Date de début minimale" #DtMin />
        <div class="br10"></div>
        <input type="datetime" placeholder="Date de début maximale" title="Date de début maximale" #DtMax />
        <div class="br10"></div>
        <input type="number" placeholder="ID Elève" title="ID Elève" min="0" [value]="_EleveId" #EleveId />
        <div class="br10"></div>
        <input type="button" title="Rechercher" value="Rechercher" class="rechercher" (click)="GetEvenements(Id.value, Libelle.value, EleveId.value, EvenementParentId.value, DtMin.value, DtMax.value, TypologieId.value)" />
    </div>

    <input type="button" title="Ajouter" value="Ajouter" class="ajouter" (click)="InitEvenement(0, null)" />

</div>

<div class="small_resultats" *ngIf="_Evenements != undefined && _Evenements != null">
    <h2>Resultats</h2>

    <table cellpadding="2" cellspacing="0" border="0" class="first">
        <thead>
            <tr>
                <th>ID Evènement</th>
                <th>Libellé</th>
                <th>Type</th>
                <th>Logo</th>
                <th>Photo/Affiche</th>
                <th>Bandeau</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Evènement parent</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of _Evenements; let i = index">
                <td>{{e.Id}}</td>
                <td>{{e.Libelle}}</td>
                <td>[{{e.Typologie.Id}}] {{e.Typologie.Libelle}}</td>
                <td><div *ngIf="e.Logo != undefined && e.Logo != null"><a href="{{_ImgUrl}}/Evenements/{{e.Id}}/{{e.Logo}}" target="_blank"><img src="{{_ImgUrl}}/Evenements/{{e.Id}}/{{e.Logo}}" /></a></div></td>
                <td><div *ngIf="e.Photo != undefined && e.Photo != null"><a href="{{_ImgUrl}}/Evenements/{{e.Id}}/{{e.Photo}}" target="_blank"><img src="{{_ImgUrl}}/Evenements/{{e.Id}}/{{e.Photo}}" /></a></div></td>
                <td><div *ngIf="e.Bandeau != undefined && e.Bandeau != null"><a href="{{_ImgUrl}}/Evenements/{{e.Id}}/{{e.Bandeau}}" target="_blank"><img src="{{_ImgUrl}}/Evenements/{{e.Id}}/{{e.Bandeau}}" /></a></div></td>
                <td>{{e.DtDebut}}</td>
                <td>{{e.DtFin}}</td>
                <td><div *ngIf="GetShow('parent', e)">[{{e.EvenementParent.Id}}] {{e.EvenementParent.Libelle}}</div></td>
                <td>
                    <input type="button" title="Gérer" value="Gérer" (click)="InitEvenement(1, i)" />
                    <div class="clear-right"></div>
                    <div *ngIf="GetShow('supprimer', e)">
                        <div class="br10"></div>
                        <input type="button" title="Supprimer" value="Supprimer" (click)="DelEvenement(i)" />
                    </div>
                </td>
            </tr>
            <tr *ngIf="_NoResult">
                <td>Aucun résultat</td>
                <td colspan="9"></td>
            </tr>
        </tbody>
    </table>

    <div class="clear"></div>

    <div class="pagination">1 2 3 4</div>

    <div class="clear"></div>

</div>

<div class="details" *ngIf="_Evenement != undefined && _Evenement != null && _Evenement.Id != undefined && _Evenement.Id != null">
    <h2>Details</h2>

    <div class="elements">
        <img class="fermer" src="{{_ImgUrl}}/Boutons/Fermer.svg" (click)="InitEvenement(null, null)" />
        <span>{{_Evenement.Id}}</span>
        <div class="br10"></div>
        <input type="text" placeholder="Libellé" title="Libellé" class="libelle" [(ngModel)]="_Evenement.Libelle" maxlength="255" #CurrentLibelle />
        <div class="br10"></div>
        <select placeholder="Typologie/Evènement parent" title="Typologie/Evènement parent" (change)="ChangeTypologieEvenementParent($event, 1)">
            <option value="">Typologie/Evènement parent</option>
            <option *ngFor="let t of _TypologiesEvenements" [value]="t.FormatedId" [selected]="GetSelect(t)">{{t.Libelle}}</option>
        </select>
        <div class="br10"></div>

        <div *ngIf="GetShow('stage|tournoi', _Evenement) && !GetShow('parent', _Evenement)">
            <input type="datetime" placeholder="Date de début" title="Date de début" class="publication" [(ngModel)]="_Evenement.DtDebut" #CurrentDtDebut />
            <div class="br10"></div>
            <input type="datetime" placeholder="Date de fin" title="Date de fin" class="publication" [(ngModel)]="_Evenement.DtFin" #CurrentDtFin />
            <div class="br10"></div>
        </div>

        <div *ngIf="GetShow('stage|tournoi', _Evenement) && !GetShow('parent', _Evenement)">
            <input type="datetime" placeholder="Date limite d'inscription" title="Date limite d'inscription" class="publication" [(ngModel)]="_Evenement.DtLimiteInscription" #CurrentDtLimiteInscription />
            <div class="br10"></div>
        </div>

        <div *ngIf="GetShow('nombre', _Evenement)">
            <input type="number" placeholder="Nombre minimum" title="Nombre minimum" class="publication" [(ngModel)]="_Evenement.Minimum" min="1" #CurrentMinimum />
            <div class="br10"></div>
            <input type="number" placeholder="Nombre maximum" title="Nombre maximum" class="publication" [(ngModel)]="_Evenement.Maximum" min="1" #CurrentMaximum />
            <div class="br10"></div>
        </div>

        <div *ngIf="!GetShow('competition', _Evenement)">
            <input type="text" placeholder="Prix" title="Prix" class="prix" [(ngModel)]="_Evenement.Prix" #CurrentPrix />€
            <div class="br10"></div>
        </div>

        <div *ngIf="GetShow('descriptif', _Evenement)">
            <textarea placeholder="Descriptif" title="Descriptif" cols="33" rows="15" class="script" [(ngModel)]="_Evenement.Descriptif" #CurrentDescriptif></textarea>
            <div class="br10"></div>
        </div>

        <div *ngIf="GetShow('cours|stage', _Evenement)">
            <input type="number" placeholder="Durée (H ou 1/2J)" title="Durée (H ou 1/2J)" class="publication" [(ngModel)]="_Evenement.Duree" min="0.5" step="0.5" #CurrentDuree />
            <div class="br10"></div>
        </div>

        <div *ngIf="GetShow('lien', _Evenement)">
            <input type="text" placeholder="Lien" title="Lien" class="lien" [(ngModel)]="_Evenement.Lien" maxlength="255" #CurrentLien />
            <div class="br10"></div>
        </div>



        <div *ngIf="GetShow('logo', _Evenement)">
            Evenements/{{_Evenement.Id}}/<input type="text" placeholder="Logo" title="Logo" class="image" [(ngModel)]="_Evenement.Logo" maxlength="255" #CurrentLogo />
            <div class="br10"></div>
        </div>

        <div *ngIf="GetShow('photo', _Evenement)">
            Evenements/{{_Evenement.Id}}/<input type="text" placeholder="Photo" title="Photo" class="image" [(ngModel)]="_Evenement.Photo" maxlength="255" #CurrentPhoto />
            <a *ngIf="GetShow('cours', _Evenement)" href="{{_ImgUrl}}/Aides/Photo Cours.png" target="_blank">(210 x ?)</a>
            <a *ngIf="GetShow('stage', _Evenement)" href="{{_ImgUrl}}/Aides/Photo Stage.png" target="_blank">(210 x ?)</a>
            <a *ngIf="GetShow('tournoi', _Evenement)" href="{{_ImgUrl}}/Aides/Photo Tournoi.png" target="_blank">(&gt;240 x ?)</a>
            <a *ngIf="GetShow('competition', _Evenement)" href="{{_ImgUrl}}/Aides/Photo Competition.png" target="_blank">(&gt;240 x ?)</a>
            <div class="br10"></div>
        </div>

        <div *ngIf="GetShow('bandeau', _Evenement)">
            Evenements/{{_Evenement.Id}}/<input type="text" placeholder="Bandeau" title="Bandeau" class="image" [(ngModel)]="_Evenement.Bandeau" maxlength="255" #CurrentPhoto />
            <a href="{{_ImgUrl}}/Aides/Bandeau Tournoi.png" target="_blank">(705 x ?)</a>
            <div class="br10"></div>
        </div>





        <div class="plannings" *ngIf="!GetShow('parent', _Evenement)">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th>Jour</th>
                        <th>08H<br />09H</th>
                        <th>09H<br />10H</th>
                        <th>10H<br />11H</th>
                        <th>11H<br />12H</th>
                        <th>12H<br />13H</th>
                        <th>13H<br />14H</th>
                        <th>14H<br />15H</th>
                        <th>15H<br />16H</th>
                        <th>16H<br />17H</th>
                        <th>17H<br />18H</th>
                        <th>18H<br />19H</th>
                        <th>19H<br />20H</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of _Evenement.Plannings; let i = index">
                        <td>{{p.Jour}}</td>
                        <td [ngStyle]="{ 'color': '#000000', 'background-color': GetColor(i, 0) }" (click)="ChangeColor(i, 0, p.Creneau0809)">&nbsp;</td>
                        <td [ngStyle]="{ 'color': '#000000', 'background-color': GetColor(i, 1) }" (click)="ChangeColor(i, 1, p.Creneau0910)">&nbsp;</td>
                        <td [ngStyle]="{ 'color': '#000000', 'background-color': GetColor(i, 2) }" (click)="ChangeColor(i, 2, p.Creneau1011)">&nbsp;</td>
                        <td [ngStyle]="{ 'color': '#000000', 'background-color': GetColor(i, 3) }" (click)="ChangeColor(i, 3, p.Creneau1112)">&nbsp;</td>
                        <td [ngStyle]="{ 'color': '#000000', 'background-color': GetColor(i, 4) }" (click)="ChangeColor(i, 4, p.Creneau1213)">&nbsp;</td>
                        <td [ngStyle]="{ 'color': '#000000', 'background-color': GetColor(i, 5) }" (click)="ChangeColor(i, 5, p.Creneau1314)">&nbsp;</td>
                        <td [ngStyle]="{ 'color': '#000000', 'background-color': GetColor(i, 6) }" (click)="ChangeColor(i, 6, p.Creneau1415)">&nbsp;</td>
                        <td [ngStyle]="{ 'color': '#000000', 'background-color': GetColor(i, 7) }" (click)="ChangeColor(i, 7, p.Creneau1516)">&nbsp;</td>
                        <td [ngStyle]="{ 'color': '#000000', 'background-color': GetColor(i, 8) }" (click)="ChangeColor(i, 8, p.Creneau1617)">&nbsp;</td>
                        <td [ngStyle]="{ 'color': '#000000', 'background-color': GetColor(i, 9) }" (click)="ChangeColor(i, 9, p.Creneau1718)">&nbsp;</td>
                        <td [ngStyle]="{ 'color': '#000000', 'background-color': GetColor(i, 10) }" (click)="ChangeColor(i, 10, p.Creneau1819)">&nbsp;</td>
                        <td [ngStyle]="{ 'color': '#000000', 'background-color': GetColor(i, 11) }" (click)="ChangeColor(i, 11, p.Creneau1920)">&nbsp;</td>
                    </tr>
                    <tr *ngIf="_NoResult">
                        <td>Aucun résultat</td>
                        <td colspan="10"></td>
                    </tr>
                </tbody>
            </table>
            <div class="br10"></div>
        </div>

        <input type="button" title="Valider" value="Valider" *ngIf="GetShow('valider', _Evenement)" (click)="AddUpdEvenement()" />
        <div class="clear"></div>

    </div>

    <div class="clear"></div>
</div>

<div class="clear"></div>
