<div class="partenariat_droite">P1</div>
<div class="clear"></div>
<div class="partenariat_droite">P2</div>

<a class="tous nomobile" href="/Partenariats" title="Tous les partenariats">&#9812; Tous les partenariats</a>

<script language="javascript" src="@Url.Content("~/Scripts/Views/Shared/Partenariats_Droite.js")" type="text/javascript"></script>
