<span>{{name}}</span>
<input type="text" placeholder="ID Elève" />
<div class="br10"></div>
<input type="text" placeholder="Nom" />
<div class="br10"></div>
<input type="text" placeholder="Prénom" />
<div class="br10"></div>
<input type="text" placeholder="Email/Identifiant" />
<div class="br10"></div>
<input type="text" placeholder="Numéro de licence" />
<div class="br10"></div>
<input type="text" placeholder="Club" />
<div class="br10"></div>
<select id="Select_Evenements">
    <option value="-1">Evènement</option>
    <option value="0">Stages</option>
    <option value="18">__Stage 1</option>
    <option value="19">__Stage 2</option>
    <option value="20">__Stage 3</option>
    <option value="1">Cours</option>
    <option value="18">__Face 2 Face : Formule 1H</option>
    <option value="19">__Cours en webcam : Formule 1H</option>
    <option value="20">__Formule à la demande</option>
    <option value="2">Tournois</option>
    <option value="18">__Tournoi 1</option>
    <option value="19">__Tournoi 2</option>
    <option value="20">__Tournoi 3</option>
    <option value="3">Compétitions</option>
    <option value="18">__Compétition 1</option>
    <option value="19">__Compétition 2</option>
    <option value="20">__Compétition 3</option>
</select>
<div class="br10"></div>
<input type="button" title="Rechercher" value="Rechercher" class="rechercher" />