<div class="filtre">
    <h2>Filtre</h2>

    <div class="elements">
        <input type="number" placeholder="ID Commande" #CommandeId min="0" />
        <div class="br10"></div>
        <input type="datetime" placeholder="Date de création minimale" #DtMin />
        <div class="br10"></div>
        <input type="datetime" placeholder="Date de création maximale" #DtMax />
        <div class="br10"></div>
        <input type="number" placeholder="ID Produit" #ProduitId min="0" />
        <div class="br10"></div>
        <input type="number" placeholder="ID Elève" #EleveId min="0" />
        <div class="br10"></div>
        <input type="text" placeholder="Référence de transaction (Paypal)" #ReferenceTransaction maxlength="50" />
        <div class="br10"></div>
        <input type="text" placeholder="Référence externe" #ReferenceExterne maxlength="50" />
        <div class="br10"></div>
        <select id="Select_Statut" placeholder="Statut" #StatutId (change)="SelectStatut($event)">
            <option>Statut</option>
            <option *ngFor="let c of _Statuts" value="{{c.Id}}">{{c.Libelle}}</option>
        </select>
        <input type="input" #EvenementId value="{{_StatutId}}" />
        <div class="br10"></div>
        <input type="button" title="Rechercher" value="Rechercher" class="rechercher" />
    </div>
</div>

<div class="resultats">
    <h2>Resultats</h2>

    <table cellpadding="2" cellspacing="0" border="0" class="first">
        <thead>
            <tr>
                <th>ID Commande</th>
                <th>Date de création</th>
                <th>Numéro de transaction Paypal</th>
                <th>Elève</th>
                <th>Produit/Quantité/Prix</th>
                <th>Total</th>
                <th>Adresse</th>
                <th>Statut</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>01/05/2018 08:00</td>
                <td>SZERVXCFSD12546</td>
                <td><a href="/Eleve" title="Voir l'élève">[1] LEBLOND Nicolas</a></td>
                <td>
                    <table cellpadding="5" cellspacing="5" border="0" class="second">
                        <tbody>
                            <tr>
                                <td><a href="/Produit" title="Voir le produit">[P00001] ARMURE DU CHEVALIER DU ZODIAQUE / SAINT SEIYA&nbsp;:&nbsp;HADES V4 15TH</a></td>
                                <td>1</td>
                                <td>150,00€</td>
                            </tr>
                            <tr>
                                <td><a href="/Produit" title="Voir le produit">[P00001] ARMURE DU CHEVALIER DU ZODIAQUE / SAINT SEIYA&nbsp;:&nbsp;HADES V4 15TH</a></td>
                                <td>1</td>
                                <td>150,00€</td>
                            </tr>
                        </tbody>
                    </table>
                <td>300,00€</td>
                <td>
                    4 rue Parmentier
                    <br />
                    Code : A2569
                    <br />
                    94130 Nogent sur Marne
                    <br />
                    0641930458
                    <br />
                    leniko@gmail.com
                </td>
                <td>
                    <select id="Select_Statuts">
                        <option value="-1"></option>
                        <option value="0">Envoyée</option>
                    </select>
                </td>
                <td>
                    <input type="button" title="Valider" value="Valider" />
                    <input type="button" title="Supprimer" value="Supprimer" />
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>01/05/2018 08:00</td>
                <td>SZERVXCFSD12546</td>
                <td><a href="/Eleve" title="Voir l'élève">[1] LEBLOND Nicolas</a></td>
                <td>
                    <table cellpadding="5" cellspacing="5" border="0" class="second">
                        <tr>
                            <td><a href="/Produit" title="Voir le produit">[P00001] ARMURE DU CHEVALIER DU ZODIAQUE / SAINT SEIYA&nbsp;:&nbsp;HADES V4 15TH</a></td>
                            <td>1</td>
                            <td>150,00€</td>
                        </tr>
                        <tr>
                            <td><a href="/Produit" title="Voir le produit">[P00001] ARMURE DU CHEVALIER DU ZODIAQUE / SAINT SEIYA&nbsp;:&nbsp;HADES V4 15TH</a></td>
                            <td>1</td>
                            <td>150,00€</td>
                        </tr>
                    </table>
                <td>300,00€</td>
                <td>
                    4 rue Parmentier
                    <br />
                    Code : A2569
                    <br />
                    94130 Nogent sur Marne
                    <br />
                    0641930458
                    <br />
                    leniko@gmail.com
                </td>
                <td>
                    <select id="Select_Statuts">
                        <option value="-1"></option>
                        <option value="0">Envoyée</option>
                    </select>
                </td>
                <td>
                    <input type="button" title="Gérer" value="Gérer" />
                    <input type="button" title="Supprimer" value="Supprimer" />
                </td>
            </tr>
        </tbody>
    </table>

    <div class="clear"></div>

    <div class="pagination">1 2 3 4</div>

    <div class="clear"></div>

</div>

<div class="clear"></div>