@{
    Layout = "~/Views/Shared/_LayoutFrontOffice.cshtml";
}

<div class="partenariats">

    <div class="zone">
        <img class="photo" src="~/Content/Images/Partenariats2.jpg" />
        <div class="titre">LES PARTENARIATS DE L'ECOLE DU CAVALIER ROI</div>
        <div class="texte">
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ip...
        </div>
    </div>

    <div class="clear"></div>

    <div class="partenariat">
        <span>DEPUIS LE 20/12/2018</span>
        <img src="" />
    </div>

    <div class="partenariat">
        <span>DEPUIS LE 20/12/2018</span>
        <img src="" />
    </div>

    <div class="partenariat last">
        <span>DEPUIS LE 20/12/2018</span>
        <img src="" />
    </div>

    <div class="partenariat">
        <span>DEPUIS LE 20/12/2018</span>
        <img src="" />
    </div>

    <div class="partenariat">
        <span>DEPUIS LE 20/12/2018</span>
        <img src="" />
    </div>

    <div class="partenariat last">
        <span>DEPUIS LE 20/12/2018</span>
        <img src="" />
    </div>

    <div class="partenariat">
        <span>DEPUIS LE 20/12/2018</span>
        <img src="" />
    </div>

    <div class="partenariat">
        <span>DEPUIS LE 20/12/2018</span>
        <img src="" />
    </div>

    <div class="clear"></div>

    <div class="pagination">1 2 3 4</div>

    <div class="clear"></div>

    @Html.Partial("~/Views/Shared/Partenariats_Medium.cshtml")

    <div class="clear"></div>

</div>

<script language="javascript" src="@Url.Content("~/Areas/Contenus/Scripts/Views/Partenariats.js")" type="text/javascript"></script>