<div class="filtre">
    <h2>Filtre</h2>

    <div class="elements">
        <input type="number" placeholder="ID Elève" title="ID Elève" min="0" [value]="_Id" #Id />
        <div class="br10"></div>
        <input type="text" placeholder="Nom" title="Nom" maxlength="50" #Nom />
        <div class="br10"></div>
        <input type="text" placeholder="Prénom" title="Prénom" maxlength="50" #Prenom />
        <div class="br10"></div>
        <input type="email" placeholder="Email/Identifiant" title="Email/Identifiant" maxlength="255" #Email />
        <div class="br10"></div>
        <input type="text" placeholder="Numéro de licence" title="Numéro de license" maxlength="20" #License />
        <div class="br10"></div>
        <input type="text" placeholder="Club" title="Club" maxlength="255" #Club />
        <div class="br10"></div>
        <select placeholder="Typologie/Evènement" title="Typologie/Evènement" (change)="ChangeTypologieEvenement($event)">
            <option value="">Typologie/Evènement</option>
            <option *ngFor="let c of _TypologiesEvenements" [value]="c.FormatedId" [selected]="((_EvenementId != null) && (c.Id == _EvenementId)) || c.FormatedId == _TypologieId">{{c.Libelle}}</option>
        </select>
        <input type="hidden" [value]="_EvenementId" #EvenementId />
        <input type="hidden" [value]="_TypologieId" #TypologieId />
        <div class="br10"></div>
        <input type="button" title="Rechercher" value="Rechercher" class="rechercher" (click)="GetEleves(Id.value, Nom.value, Prenom.value, Email.value, License.value, Club.value, EvenementId.value, TypologieId.value)" />
    </div>
</div>

<div class="resultats" *ngIf="_Eleves != undefined && _Eleves != null">
    <h2>Resultats</h2>

    <table cellpadding="2" cellspacing="0" border="0" class="first">
        <thead>
            <tr>
                <th>ID Elève</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email/Identifiant</th>
                <th>Evènements</th>
                <th>Commandes</th>
                <th>Numéro de licence</th>
                <th>Club</th>
                <th>Classement</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of _Eleves; let i = index">
                <td>{{e.Id}}</td>
                <td>{{e.Nom}}</td>
                <td>{{e.Prenom}}</td>
                <td>{{e.Email}}</td>
                <td>
                    <div>Stages : <a href="/Evenements?_TypologieId=0&_EleveId={{e.Id}}" title="Voir les stages">{{e.NbStages}}</a></div>
                    <div>Cours : <a href="/Evenements?_TypologieId=1&_EleveId={{e.Id}}" title="Voir les cours">{{e.NbCours}}</a></div>
                    <div>Tournois : <a href="/Evenements?_TypologieId=3&_EleveId={{e.Id}}" title="Voir les tournois">{{e.NbTournois}}</a></div>
                </td>
                <td><a href="/Commandes?EleveId={{e.Id}}" title="Voir les commandes">{{e.NbCommandes}}</a></td>
                <td>{{e.License}}</td>
                <td>{{e.Club}}</td>
                <td>{{e.Classement}}</td>
                <td>
                    <input type="button" title="Modifier" value="Modifier" (click)="InitEleve(e.Id)" />
                    <div class="clear-right"></div>
                    <div class="br10"></div>
                    <input type="button" title="Supprimer" value="Supprimer" (click)="DelEleve(i)" />
                </td>
            </tr>
            <tr *ngIf="_NoResult">
                <td>Aucun résultat</td>
                <td colspan="9"></td>
            </tr>
        </tbody>
    </table>

    <div class="clear"></div>

    <div class="pagination">1 2 3 4</div>

    <div class="clear"></div>

</div>

<div class="clear"></div>
