@{
    Layout = "~/Views/Shared/_LayoutFrontOffice.cshtml";
}

<div class="echecs">

    <div class="zone">
        <img class="photo" src="~/Content/Images/Histoire.jpg" />
        <div class="titre">Les Echecs</div>
        <div class="texte">

            <h2>La naissance du jeu d'echecs</h2>
            Le jeu d'échecs serait né en Inde au XIème siècle avant JC.
            <br />
            Des textes en sanscrit parlent d'un jeu "des quatre membres".
            <br />
            Ces quatre membres seraient le fantassin, l'éléphant, le cavalier et le char d'assaut.
            <br />
            Ce jeu aurait dérivé du backgammon et donc se jouait avec des dés à l'époque !


            <h2>Le jeu d'echecs passe en Perse</h2>
            Grâce aux liaisons commerciales entre l'Inde et la Perse, le jeu d'échecs s'exporte et arrive en Perse. Les perses auront alors la bonne idée de supprimer les dés !
            <br />
            Ils veulent en faire un jeu de stratégie pure et enlever la part de hasard (la part divine).
            <br />
            De plus, le jeu d'échecs passe en un contre un (avant on jouait à quatre !).


            <h2>Les premieres compositions</h2>
            On les trouve dès le IXème siècle. Elles ont été composées par Al Suli qui devait être un excellent joueur d'échecs.
            <br />
            Il a également composé un poème qui dit "le jeu d'échecs rappelle au Shah qu'il joue sur le même terrain que les paysans" !


            <h2>Le jeu d'echecs passe en Europe</h2>
            À la faveur des croisades, le jeu d'échecs arrive en Italie du sud et en Espagne.
            <br />
            En effet, les européens sont séduits par ce jeu de guerre entouré de courtoisie et de bienséance.
            <br />
            Les chevaliers aiment jouer aux échecs et faire de beaux coups. Mais pas seulement !
            <br />
            Au XIIème siècle, Saint-Louis interdit le jeu d'échecs...
            <br />
            Pourquoi ? Parce qu'il n'est pas rare qu'un des joueurs se fassent fracasser le crâne par son adversaire avec l'échiquier !
            <br />
            Un dicton de l'époque dit d'ailleurs "ce n'est pas parce qu'on a fracassé le crâne de son adversaire qu'on est un meilleur joueur d'échecs que lui !".
            <br />
            La Dame et le Fou sont introduits également au moyen-âge signe de l'influence grandissante des reines dans les politiques européennes en témoigne le célèbre jeu d'échecs de Lewis.


            <h2>L'evolution du jeu</h2>
            Les noms des pièces et leurs couleurs changent au XIVème siècle. La dame et le fou gagnent en puissance certainement pour copier l'évolution de l'artillerie.
            <br />
            Après l'imprimerie, les livres arrivent et les premiers conseils sont donc donnés.


            <h2>Le premier grand champion</h2>
            Philidor, musicien français, est le premier grand champion français.
            <br />
            Très jeune, il bat les chevaliers à la cour, ridiculisent les anglais et dit "les pions sont l'âme du jeu d'échecs" ce qui est incroyablement clairvoyant !


            <h2>L'uniformisation du jeu d'echecs</h2>
            La révolution industrielle rend possible les parties d'échecs entre différentes villes grâce au télégraphe.
            <br />
            Ainsi Howard Staunton a l'idée au XIXème siècle d'uniformiser les pièces du jeu d'échecs pour que partout dans le monde, on joue avec les mêmes pièces.
            <br />
            À cette époque, les joueurs d'échecs sont des supers-stars faisant des exhibitions, des simultanées, jouant à l'aveugle.
            <br />
            La pendule est ensuite inventée pour limitée le temps des parties qui pouvaient durer alors plusieurs jours !


            <h2>L'histoire du jeu d'echecs : le jeu d'echecs symbole de la puissance intellectuelle</h2>
            Le jeu d'échecs est mis en avant par les russes pendant la guerre froide pour montrer leur supposée supériorité intellectuelle.
            <br />
            Puis la même confrontation oppose les dissidents de l'URSS et les champions du système.



        </div>
    </div>

    <div class="clear"></div>


    <div class="clear"></div>

    @Html.Partial("~/Views/Shared/Partenariats_Medium.cshtml")

    <div class="clear"></div>

</div>

<script language="javascript" src="@Url.Content("~/Scripts/Views/Echecs.js")" type="text/javascript"></script>