@{
    Layout = "~/Views/Shared/_LayoutFrontOffice.cshtml";
}

<div class="mentions">

    <div class="zone">
        <img class="photo" src="~/Content/Images/Mentions.jpg" />
        <div class="titre">Le mentions légales du site de l'ecole du cavalier roi</div>
        <div class="texte">
            Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l'économie numérique, dite L.C.E.N., il est porté à la connaissance des utilisateurs et visiteurs du site "Le Cavalier Roi" les présentes mentions légales.
            <br />
            Le site "Le Cavalier Roi" est accessible à l'adresse suivante : www.cavalier-roi.fr/com.
            <br />
            L'accès et l'utilisation du Site sont soumis aux présentes "Mentions légales" détaillées ci-après ainsi qu'aux lois et/ou règlements applicables.
            <br />
            La connexion, l'utilisation et l'accès à ce site impliquent l'acceptation intégrale et sans réserve de l'internaute de toutes les dispositions des présentes "Mentions Légales".

            <h2>ARTICLE 1 - INFORMATIONS LEGALES</h2>
            En vertu de l'Article 6 de la Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé dans cet article l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.
            <br /><br />
            <u>Editeur du site</u>
            <br />
            Le site "Le Cavalier Roi" est édité par : Eric MORY
            <br />
            domicilié à l'adresse suivante : 55 rue Maurice Ravel 83500 La Seyne sur Mer, et immatriculé au numéro suivant : XXXXXXX.
            <br />
            Téléphone : 0650957729
            <br />
            Adresse e-mail : mory.eric@gmail.com
            <br /><br />
            <u>Directeur de publication</u>
            <br />
            Le directeur de publication est : Eric MORY
            <br />
            Adresse e-mail de contact : mory.eric@gmail.com
            <br />
            <br />
            <u>Hébergeur du site</u>
            <br />
            Le site "Le Cavalier Roi" est hébergé par : XXXX
            <br />
            dont le siège est situé à l'adresse suivante : XXXX
            <br />
            Téléphone : XXXX
            <br />
            Adresse e-mail : XXXX
            <br />
            <br />
            <u>Développeur du site</u>
            <br />
            Le site "Le Cavalier Roi" est réalisé par : Nicolas LEBLOND pour la société ACE-SUPERVISION.
            <br />
            domicilié à l'adresse suivante : 4 rue Parmentier 94130 Nogent sur Marne, et immatriculé au numéro suivant : XXXXXXX.
            <br />
            Téléphone : 0641930458
            <br />
            Adresse e-mail : leblond.nicolas@gmx.fr
            <br />
            <br />
            <u>Utilisateurs</u>
            <br />
            Sont considérés comme utilisateurs tous les internautes qui naviguent, lisent, visionnent et utilisent le site "Le Cavalier Roi".


            <h2>ARTICLE 2 - CONFIDENTIALITE</h2>

            A. DONNEES COLLECTEES ET TRAITEES
            <br />
            Conformément aux dispositions de l'article 5 du Règlement européen 2016/679, la collecte et le traitement des données des utilisateurs du site respectent les principes suivants :
            <br />
            • Licéité, loyauté et transparence : les données ne peuvent être collectées et traitées qu'avec le consentement de l'utilisateur propriétaire des données. A chaque fois que des données à caractère personnel seront collectées, il sera indiqué à l'utilisateur que ses données sont collectées, et pour quelles raisons ses données sont collectées ;
            <br />
            • Finalités limitées : la collecte et le traitement des données sont exécutés pour répondre à un ou plusieurs objectifs déterminés dans les présentes mentions légales ;
            <br />
            • Minimisation de la collecte et du traitement des données : seules les données nécessaires à la bonne exécution des objectifs poursuivis par le site sont collectées ;
            <br />
            • Conservation des données réduites dans le temps : les données sont conservées pour une durée limitée, dont l'utilisateur est informé. Si la durée de conservation ne peut être communiquée à l'utilisateur ;
            <br />
            • Intégrité et confidentialité des données collectées et traitées : le responsable du traitement des données s'engage à garantir l'intégrité et la confidentialité des données collectées.
            <br />
            <br />
            Afin d'être licite, et ce conformément aux exigences de l'article 6 du règlement européen 2016/679, la collecte et le traitement des données à caractère personnel ne pourront intervenir que s'ils respectent au moins l'une des conditions ci-après énumérées :
            <br />
            • L'utilisateur a expressément consenti au traitement
            <br />
            • Le traitement est nécessaire à la bonne exécution d'un contrat
            <br />
            • Le traitement répond à une obligation légale
            <br />
            • Le traitement s'explique par une nécessité liée à la sauvegarde des intérêts vitaux de la personne concernée ou d'une autre personne physique
            <br />
            • Le traitement peut s'expliquer par une nécessité liée à l'exécution d'une mission d'intérêt public ou qui relève de l'exercice de l'autorité publique
            <br />
            • Le traitement et la collecte des données à caractère personnel sont nécessaires aux fins des intérêts légitimes et privés poursuivis par le responsable du traitement ou par un tiers.
            <br />
            Les données à caractère personnel collectées sur le site "Le Cavalier Roi" sont les suivantes :
            <br />
            Nom / Prénom / Date de naissance / Adresse / Téléphone fixe / Téléphone portable / Photo / Sexe / Numéro de licence / Classement / Club / Email-Identifiant / Mot de passe
            <br />
            Ces données sont collectées lorsque l'utilisateur effectue l'une des opérations suivantes sur le site :
            <br />
            Inscription sur le site / Commande de matériel / Inscription aux services proposés
            <br />
            Par ailleurs, lors d'un paiement sur le site, il sera conservé dans les systèmes informatiques de l'éditeur du site une preuve de la transaction comprenant le bon de commande et la facture.
            <br />
            Le responsable du traitement conservera dans ses systèmes informatiques du site et dans des conditions raisonnables de sécurité l'ensemble des données collectées pour une durée de : 5 ans.
            <br />
            La collecte et le traitement des données répondent aux finalités suivantes :
            <br />
            Ces informations sont collectées afin de faciliter les échanges et finaliser une commande vis le site Internet
            <br />
            <br />
            B. HEBERGEMENT DES DONNEES
            <br />
            Tel que mentionné plus haut, le site "Le Cavalier Roi" est hébergé par : XXXX, dont le siège est situé à l'adresse ci-après :
            XXXX
            <br />
            L'hébergeur peut être contacté au numéro de téléphone suivant : XXXX
            <br />
            Les données collectées et traitées par le site sont exclusivement hébergées et traitées en France.
            <br />
            <br />
            C. LE RESPONSABLE DU TRAITEMENT DES DONNÉES
            <br />
            Le responsable du traitement des données à caractère personnel est : Eric MORY.
            <br />
            Il peut être contacté par mail : mory.eric@gmail.com
            <br />
            <br />
            D. LE DELEGUE A LA PROTECTION DES DONNEES
            La personne déléguée à la Protection des données est : Eric MORY.
            <br />
            Il peut être contacté par mail : mory.eric@gmail.com
            <br />
            <br />
            E. DONNEES PERSONNELLES DES PERSONNES MINEURES
            <br />
            Conformément aux dispositions de l'article 8 du règlement européen 2016/679 et à la loi Informatique et Libertés, seuls les mineurs âgés de 15 ans ou plus peuvent consentir au traitement de leurs données personnelles.
            <br />
            Si l'utilisateur est un mineur de moins de 15 ans, l'accord d'un représentant légal sera requis afin que des données à caractère personnel puissent être collectées et traitées.
            <br />
            Toute inscription sur le site se faisant obligatoirement avec l'accord d'un réprésentant légal, cet accord est donc automatiquement donné lors de cette action.
            <br />
            <br />
            F. DROITS DE L'utilisateur ET PROCÉDURES DE MISE EN OEUVRE DES DROITS DE L'utilisateur
            <br />
            Conformément à la réglementation concernant le traitement des données à caractère personnel, l'utilisateur possède les droits ci-après énumérés.
            <br />
            Afin que le responsable du traitement des données fasse droit à sa demande, l'utilisateur est tenu de lui communiquer : ses prénom et nom ainsi que son adresse e-mail, et si cela est pertinent, son numéro de compte ou d'espace personnel ou d'abonné.
            <br />
            Le responsable du traitement des données est tenu de répondre à l'utilisateur dans un délai de 30 (trente) jours maximum.
            <br />
            <br />
            <u>Droit d'accès, de rectification et droit à l'oubli</u>
            <br />
            L'utilisateur peut prendre connaissance, mettre à jour, modifier ou demander la suppression des données le concernant, en respectant la procédure ci-après énoncée :
            <br />
            Il suffit d'aller dans sur sa fiche personnelle et de modifier ses informations personnelles.
            <br />
            S'il en possède un, l'utilisateur a le droit de demander la suppression de son espace personnel par mail : mory.eric@gmail.com.
            <br />
            <br />
            <u>Droit à la portabilité des données</u>
            <br />
            L'utilisateur a le droit de demander la portabilité de ses données personnelles, détenues par le site, vers un autre site, en en faisant la demande par mail : mroy.eric@gmail.com.
            <br />
            <br />
            <u>Droit à la limitation et à l'opposition du traitement des données</u>
            <br />
            Enfin, l'utilisateur a le droit de demander la limitation ou de s'opposer au traitement de ses données par le site, sans que le site ne puisse refuser, sauf à démontrer l'existence de motifs légitimes et impérieux, pouvant prévaloir sur les intérêts et les droits et libertés de l'utilisateur.
            <br />
            <br />
            <u>Droit de déterminer le sort des données après la mort</u>
            <br />
            Il est rappelé à l'utilisateur qu'il peut organiser quel doit être le devenir de ses données collectées et traitées s'il décède, conformément à la loi n°2016-1321 du 7 octobre 2016.
            <br />
            <br />
            <u>Droit de saisir l'autorité de contrôle compétente</u>
            <br />
            Dans le cas où le responsable du traitement des données décide de ne pas répondre à la demande de l'utilisateur, et que l'utilisateur souhaite contester cette décision, il est en droit de saisir la CNIL (Commission Nationale de l'Informatique et des Libertés, https://www.cnil.fr) ou tout juge compétent.
            <br />
            <br />
            G. OBLIGATIONS DU RESPONSABLE DU TRAITEMENT DES DONNÉES
            <br />
            Le responsable du traitement s'engage à protéger les données à caractère personnel collectées, à ne pas les transmettre à des tiers sans que l'utilisateur n'en ait été informé et à respecter les finalités pour lesquelles ces données ont été collectées.
            <br />
            Le site dispose d'un certificat SSL afin de garantir que les informations et le transfert des données transitant par le site sont sécurisés.
            <br />
            De plus, le responsable du traitement des données s'engage à notifier l'utilisateur en cas de rectification ou de suppression des données, à moins que cela n'entraîne pour lui des formalités, coûts et démarches disproportionnés.
            <br />
            Dans le cas où l'intégrité, la confidentialité ou la sécurité des données à caractère personnel de l'utilisateur est compromise, le responsable du traitement s'engage à informer l'utilisateur par tout moyen.
            <br />
            <br />
            H. COOKIES
            <br />
            Le site a éventuellement recours aux techniques de "cookies" lui permettant de traiter des statistiques et des informations sur le trafic, de faciliter la navigation et d'améliorer le service pour le confort de l'utilisateur. Pour l'utilisation de fichiers "cookies" impliquant la sauvegarde et l'analyse de données à caractère personnel, le consentement de l'utilisateur est nécessairement demandé.
            <br />
            Ce consentement de l'utilisateur est considéré comme valide pour une durée de 13 (treize) mois maximum. A l'issue de cette période, le site demandera à nouveau l'autorisation de l'utilisateur pour enregistrer des fichiers "cookies" sur son disque dur.
            <br />
            <br />
            <u>Opposition de l'utilisateur à l'utilisation de fichiers "cookies" par le site</u>
            <br />
            Il est porté à la connaissance de l'utilisateur qu'il peut s'opposer à l'enregistrement de ces "cookies" en configurant son logiciel de navigation.
            <br />
            Dans le cas où l'utilisateur décide de désactiver les fichiers "cookies", il pourra poursuivre sa navigation sur le site. Toutefois, tout dysfonctionnement du site provoqué par cette manipulation ne pourrait être considéré comme étant du fait de l'éditeur du site.
            <br />
            <br />
            <u>Description des fichiers "cookies" utilisés par le site</u>
            <br />
            L'éditeur attire l'attention de l'utilisateur sur le fait que les cookies suivants sont utilisés lors de sa navigation : cavalier-roi.
            <br />
            En naviguant sur le site, il est porté à connaissance de l'utilisateur que des fichiers "cookies" de tiers peuvent être enregistrés.
            <br />
            Il s'agit plus particulièrement des tiers suivants : Google / Facebook
            <br />
            De plus, le site intègre des boutons de réseaux sociaux, permettant à l'utilisateur de partager son activité sur le site. Des fichiers "cookies" de ces réseaux sociaux sont par conséquent susceptibles d'être stockés sur l'ordinateur de l'utilisateur lorsqu'il utilise ces fonctionnalités.
            <br />
            L'attention de l'utilisateur est portée sur le fait que ces sites disposent de politiques de confidentialité propres, possiblement différentes de celles présentées ici. L'éditeur invite les utilisateurs à consulter les politiques de confidentialité et de gestions des données personnelles de ces sites.


            <h2>ARTICLE 3 - ACCESSIBILITÉ</h2>
            Le site est par principe accessible aux utilisateurs 24/24h et 7/7j, sauf interruption, programmée ou non, pour des besoins de maintenance ou en cas de force majeure.
            <br />
            En cas d'impossibilité d'accès au Site, celui-ci s'engage à faire son maximum afin d'en rétablir l'accès. Le Site ne saurait être tenu pour responsable de tout dommage, quelle qu'en soit la nature, résultant de son indisponibilité.
            <br />


            <h2>ARTICLE 4 - LOI APPLICABLE ET JURIDICTION</h2>
            Les présentes "Mentions Légales" sont régies par la loi française. En cas de différend et à défaut d'accord amiable, le litige sera porté devant les tribunaux français conformément aux règles de compétence en vigueur.
            
            <h2>ARTICLE 5 - CONTACT</h2>

            Pour tout signalement de contenus ou d'activités illicites, l'utilisateur peut contacter l'éditeur à l'adresse suivante : mory.eric@gmail.com, ou par courrier recommandé avec accusé de réception adressé à l'éditeur aux coordonnées précisées dans les présentes mentions légales.
            <br />
            <br />
            Le site "Le Cavalier Roi" vous souhaite une excellente navigation !

        </div>
    </div>

    <div class="clear"></div>

    @Html.Partial("~/Views/Shared/Partenariats_Medium.cshtml")

    <div class="clear"></div>


</div>

<script language="javascript" src="@Url.Content("~/Scripts/Views/MentionsLegales.js")" type="text/javascript"></script>