
@{
    Layout = "~/Views/Shared/_LayoutBackOffice.cshtml";
}


<h1>Gestion des contenus</h1>

<div class="filtre">
    <h2>Filtre</h2>

    <div class="elements">
        <input type="text" placeholder="ID Contenu" />
        <div class="br10"></div>
        <input type="text" placeholder="Libellé" />
        <div class="br10"></div>
        <select id="Select_Emplacements">
            <option value="-1">Emplacement</option>
        </select>
        <div class="br10"></div>
        <input type="text" placeholder="Date de publication minimale" />
        <div class="br10"></div>
        <input type="text" placeholder="Date de publication maximale" />
        <div class="br10"></div>
        <select id="Select_Evenements">
            <option value="-1">Evènement</option>
            <option value="0">Stages</option>
            <option value="18">__Stage 1</option>
            <option value="19">__Stage 2</option>
            <option value="20">__Stage 3</option>
            <option value="1">Cours</option>
            <option value="18">__Face 2 Face : Formule 1H</option>
            <option value="19">__Cours en webcam : Formule 1H</option>
            <option value="20">__Formule à la demande</option>
            <option value="2">Tournois</option>
            <option value="18">__Tournoi 1</option>
            <option value="19">__Tournoi 2</option>
            <option value="20">__Tournoi 3</option>
            <option value="3">Compétitions</option>
            <option value="18">__Compétition 1</option>
            <option value="19">__Compétition 2</option>
            <option value="20">__Compétition 3</option>
        </select>
        <div class="br10"></div>
        <input type="button" title="Rechercher" value="Rechercher" class="rechercher" />
    </div>

    <input type="button" title="Ajouter" value="Ajouter" class="ajouter" />

</div>

<div class="small_resultats">
    <h2>Resultats</h2>

    <table cellpadding="2" cellspacing="0" border="0" class="first">
        <thead>
            <tr>
                <th>ID Contenu</th>
                <th>Titre</th>
                <th>Image "full"</th>
                <th>Image "carrée"</th>
                <th>Image "verticale"</th>
                <th>Image "horizontale"</th>
                <th>Logo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>12</td>
                <td>Bienvenue sur le site de l'ecole du cavalier roi</td>
                <td><img src="~/Content/Images/Full.jpg" /></td>
                <td><img src="~/Content/Images/Carree.jpg" /></td>
                <td><img src="~/Content/Images/Verticale.jpg" /></td>
                <td><img src="~/Content/Images/Horizontale.jpg" /></td>
                <td><img src="~/Content/Images/Logo.png" /></td>
                <td>
                    <input type="button" title="Gérer" value="Gérer" />
                    <input type="button" title="Supprimer" value="Supprimer" />
                </td>
            </tr>
            <tr class="last">
                <td>12</td>
                <td>Bienvenue sur le site de l'ecole du cavalier roi</td>
                <td><img src="~/Content/Images/Full.jpg" /></td>
                <td><img src="~/Content/Images/Carree.jpg" /></td>
                <td><img src="~/Content/Images/Verticale.jpg" /></td>
                <td><img src="~/Content/Images/Horizontale.jpg" /></td>
                <td><img src="~/Content/Images/Logo.png" /></td>
                <td>
                    <input type="button" title="Gérer" value="Gérer" />
                    <input type="button" title="Supprimer" value="Supprimer" />
                </td>
            </tr>
        </tbody>
    </table>

    <div class="clear"></div>

    <div class="pagination">1 2 3 4</div>

    <div class="clear"></div>

</div>

<div class="details">
    <h2>Details</h2>

    <div class="elements">
        <span>12</span>
        <div class="br10"></div>
        <input type="text" placeholder="Titre" class="libelle" />
        <div class="br10"></div>
        <select id="Select_Emplacements">
            <option value="-1">Emplacement</option>
        </select>
        <div class="br10"></div>
        <input type="text" placeholder="Date de début de publication" class="publication" />
        <div class="br10"></div>
        <input type="text" placeholder="Date de fin de publication" class="publication" />
        <div class="br10"></div>
        <input type="checkbox" id="CheckBox_Exclusif" placeholder="Exclusif" class="exclusif" /><label for="CheckBox_Exclusif">Exclusif</label>
        <div class="br10"></div>
        <textarea placeholder="Texte" cols="33" rows="15" class="script"></textarea>
        <div class="br10"></div>
        <input type="text" placeholder="Lien" class="lien" />
        <div class="br10"></div>
        <textarea placeholder="Script" cols="33" rows="15" class="script"></textarea>
        <div class="br10"></div>
        <label for="File_Full">Image "full"</label>&nbsp;&nbsp;<input type="file" id="File_Full" />
        <div class="br10"></div>
        <label for="File_Carree">Image "carrée"</label>&nbsp;&nbsp;<input type="file" id="File_Carree" />
        <div class="br10"></div>
        <label for="File_Verticale">Image "verticale"</label>&nbsp;&nbsp;<input type="file" id="File_Verticale" />
        <div class="br10"></div>
        <label for="File_Horizontale">image "horizontale"</label>&nbsp;&nbsp;<input type="file" id="File_Horizontale" />
        <div class="br10"></div>
        <label for="File_Logo">Logo</label>&nbsp;&nbsp;<input type="file" id="File_Logo" />
        <div class="clear"></div>
        <input type="button" title="Valider" value="Valider" />
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>

<div class="clear"></div>

<script language="javascript" src="@Url.Content("~/Areas/Contenus/Scripts/Views/Contenus.js")" type="text/javascript"></script>
