
@{
    Layout = "~/Views/Shared/_LayoutBackOffice.cshtml";
}

<script>System.import('app/Eleves/main.js').catch(function (err) { console.error(err); });</script>


<h1>Gestion des eleves</h1>

<my-app><img src="~/Content/Images/ajax-loader.gif" title="Merci de patienter" /></my-app>


<script language="javascript" src="@Url.Content("~/Areas/Eleves/Scripts/Views/Eleves.js")" type="text/javascript"></script>
