@{
    Layout = "~/Views/Shared/_LayoutFrontOffice.cshtml";
}

<div class="boutique">

    <div class="zone">
        <img class="photo" src="~/Content/Images/Boutique.jpg" />
        <div class="titre">LA BOUTIQUE DE L'ECOLE DU CAVALIER ROI</div>
        <div class="texte">
            La boutique du Cavalier Roi est là pour vous conseiller et fournir les outils les plus adéquats à votre progression. Jeux, pendules, livres, logiciels, goodies, nous vous assurons un gage de qualité d'un choix étudié en amont par nos soins et toujours au meilleur prix !
            <br />
            <br />
            La boutique du Cavalier Roi vous garantie :
            <br />
            - des conseils avisés pour faire les bons choix d'achats
            <br />
            - un paiement rapide et sécurisé via Paypal
            <br />
            - un envoi par la poste sous 3 jours en moyenne
            <br />
            - un SAV réactif et à votre écoute à l'adresse mory.eric@gmail.com
            <br />
            - une politique de retour sous 15 jours car on a tous le droit de se tromper 😊
        </div>
    </div>

    <div class="clear"></div>

    <div class="avant">
        <div class="filtre">
            Categorie : <select>
                <option value="-1"></option>
                <option value="0">Jeux d'échecs</option>
                <option value="1">Pendules</option>
                <option value="2">Livres</option>
                <option value="3">Logiciels</option>
                <option value="3">Divers</option>
            </select>
        </div>
    </div>

    <div class="clear"></div>

    <div class="produit">
        <div class="titre">ARMURE DU CHEVALIER DU ZODIAQUE / SAINT SEIYA&nbsp;:&nbsp;HADES V4 15TH</div>
        <div class="clear"></div>
        <img class="photo" src="~/Content/Images/Map.jpg" />
        <img class="logo" src="~/Content/Images/Logo.png" />
        <span class="descriptif texte">
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ip...
            <br />
            <br />
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ip...
            <br />
            <br />
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ip...
            <br />
            <br />
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ip...
        </span>
        <div class="formule texte">
            <div class="disponibilite">EN STOCK</div>
            <div class="prix">160,00€</div>
            <div class="quantite">
                <img src="~/Content/Images/boutons/Moins.svg" title="Moins" class="moins" />
                <input type="text" value="1" class="" />
                <img src="~/Content/Images/boutons/Plus.svg" title="Plus" class="plus" />
            </div>
            <div class="reserver"><input type="button" title="Ajouter" value="Ajouter" /></div>
        </div>
    </div>

    <div class="produit last">
        <div class="titre">ARMURE DU CHEVALIER DU ZODIAQUE / SAINT SEIYA&nbsp;:&nbsp;HADES V4 15TH</div>
        <div class="clear"></div>
        <img class="logo" src="~/Content/Images/Logo.png" />
        <span class="descriptif texte">
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ip...
            <br />
            <br />
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ip...
            <br />
            <br />
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ip...
            <br />
            <br />
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ip...
        </span>
        <div class="formule texte">
            <div class="disponibilite">EN STOCK</div>
            <div class="prix">160,00€</div>
            <div class="quantite">
                <img src="~/Content/Images/boutons/Moins.svg" title="Moins" class="moins" />
                <input type="text" value="1" class="" />
                <img src="~/Content/Images/boutons/Plus.svg" title="Plus" class="plus" />
            </div>
            <div class="reserver"><input type="button" title="Ajouter" value="Ajouter" /></div>
        </div>
    </div>

    <div class="produit">
        <div class="titre">ARMURE DU CHEVALIER DU ZODIAQUE / SAINT SEIYA&nbsp;:&nbsp;HADES V4 15TH</div>
        <div class="clear"></div>
        <img class="photo" src="~/Content/Images/Map.jpg" />
        <span class="descriptif texte">
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ip...
            <br />
            <br />
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ip...
            <br />
            <br />
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ip...
            <br />
            <br />
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ip...
        </span>
        <div class="formule texte">
            <div class="disponibilite">EN STOCK</div>
            <div class="prix">160,00€</div>
            <div class="quantite">
                <img src="~/Content/Images/boutons/Moins.svg" title="Moins" class="moins" />
                <input type="text" value="1" class="" />
                <img src="~/Content/Images/boutons/Plus.svg" title="Plus" class="plus" />
            </div>
            <div class="reserver"><input type="button" title="Ajouter" value="Ajouter" /></div>
        </div>
    </div>

    <div class="produit last">
        <div class="titre">ARMURE DU CHEVALIER DU ZODIAQUE / SAINT SEIYA&nbsp;:&nbsp;HADES V4 15TH</div>
        <div class="clear"></div>
        <span class="descriptif texte">
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ip...
            <br />
            <br />
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ip...
            <br />
            <br />
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ip...
            <br />
            <br />
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ip...
        </span>
        <div class="formule texte">
            <div class="disponibilite">EN STOCK</div>
            <div class="prix">160,00€</div>
            <div class="quantite">
                <img src="~/Content/Images/boutons/Moins.svg" title="Moins" class="moins" />
                <input type="text" value="1" class="" />
                <img src="~/Content/Images/boutons/Plus.svg" title="Plus" class="plus" />
            </div>
            <div class="reserver"><input type="button" title="Ajouter" value="Ajouter" /></div>
        </div>
    </div>

    <div class="clear"></div>

    @Html.Partial("~/Views/Shared/Partenariats_Medium.cshtml")

    <div class="clear"></div>

</div>

<script language="javascript" src="@Url.Content("~/Areas/Produits/Scripts/Views/Boutique.js")" type="text/javascript"></script>
