<div id="Div_Actu" class="modal_actu">
    <img class="fermer" src="~/Content/Images/Boutons/Fermer.svg" title="Fermer" alt="Fermer" />
    <img class="horizontale" />
    <div class="clear"></div>
    <div class="titre">
        <div><span></span></div>
        <div><label title="Dates : Création - Modification - Parution"></label></div>
    </div>
    <div class="clear"></div>
    <div class="texte">
        <img class="full" />
        <img class="logo" />
        <div class="script"></div>
        <span></span>
    </div>
    <div class="clear"></div>
</div>

<script language="javascript" src="@Url.Content("~/Scripts/Views/Shared/Actualite.js")" type="text/javascript"></script>
