<div id="Div_CalendrierParEvenement" class="modal_calendrier">
    <img class="fermer" src="@Constants.IMG_URL/Boutons/Fermer.svg" />
    <div class="titre"></div>
    <div class="clear"></div>


    <input type="hidden" id="Hidden_EvenementId" />
    <input type="hidden" id="Hidden_EvenementLibelle" />
    <input type="hidden" id="Hidden_EleveId" />
    <input type="hidden" id="Hidden_Prix" />
    

    <div class="texte paiement">

        <h2>JE PAYE EN CB OU AVEC PAYPAL</h2>
        La solution de paiement en ligne, fiable, rapide, sécurisée, qui permet de payer par carte bancaire ou par le biais de votre compte PayPal.
        <div class="br10"></div>
        <div title="Payer avec PayPal" id="paypal-button-container" class="fright"></div>

        <div class="clear"></div>

        <h2>JE PAYE AUTREMENT</h2>
        L'École du cavalier roi vous propose de voir avec elle pour un paiement par chèque, virement, espèces...
        <div class="br10"></div>
        <input type="button" value="Payer" class="valider autre fright" title="Payer" />

    </div>


    <div class="texte confirmation">

        <div class="confirmation1">
            Votre participation à cet évènement a bien été prise en compte !
            <br />
            <br />
            Vous pouvez retrouver toutes vos participations dans la partie "Mon Compte" du site de l'École du cavalier roi.
            <br />
            <br />
            Merci de contacter au plus vite l'École du cavalier roi à <a href="mailto:inscriptions@cavalier-roi.fr" target="_blank">inscriptions@cavalier-roi.fr</a> pour régler le paiement.
        </div>

        <div class="confirmation2">
            Votre participation à cet évènement a bien été prise en compte et votre paiement a bien été effectué !
            <br />
            <br />
            Vous pouvez retrouver toutes vos participations dans la partie "Mon Compte" du site de l'École du cavalier roi.
            <br />
            <br />
            Pour plus d'informations, n'hésitez pas à contacter l'École du cavalier roi à <a href="mailto:inscriptions@cavalier-roi.fr" target="_blank">inscriptions@cavalier-roi.fr</a>.
        </div>

        <div class="confirmation3">
            Votre participation à cet évènement a bien été prise en compte !
            <br />
            <br />
            Vous pouvez retrouver toutes vos participations dans la partie "Mon Compte" du site de l'École du cavalier roi.
            <br />
            <br />
            Pour plus d'informations, n'hésitez pas à contacter l'École du cavalier roi à <a href="mailto:inscriptions@cavalier-roi.fr" target="_blank">inscriptions@cavalier-roi.fr</a>.
        </div>

        <div class="confirmation4">
            Votre participation à cet évènement a bien été prise en compte mais votre paiement a rencontré un problème !
            <br />
            <br />
            Merci de contacter au plus vite l'École du cavalier roi à <a href="mailto:inscriptions@cavalier-roi.fr" target="_blank">inscriptions@cavalier-roi.fr</a> pour régler le paiement.
        </div>

    </div>




</div>


<script language="javascript" src="@Constants.ROOT_URL/Scripts/Views/Shared/CalendrierParEvenement.js" type="text/javascript"></script>
