<div id="Div_Message" class="modal_message">
    <img class="fermer" src="~/Content/Images/Boutons/Fermer.svg" />
    <div class="texte">Bonjour et bienvenue !</div>
</div>


<script language="javascript" src="@Url.Content("~/Scripts/Views/Shared/Message.js")" type="text/javascript"></script>