@model WS.Models.OUT.Commande

<span>&Eacute;tape 3/3</span>
<div class="br10"></div>

<div class="jaune">Paiement</div>
<div class="clear-left"></div>

<ul id="Ul_Paiements" class="accordeon">
    <li>
        <div class="header">JE PAYE EN CB OU AVEC PAYPAL</div>
        <ul>
            <li>
                La solution de paiement en ligne, fiable, rapide, sécurisée, qui permet de payer par carte bancaire ou par le biais de votre compte PayPal.
                <div class="br10"></div>
                <div title="Payer avec PayPal" id="paypal-button-container" class="fright"></div>
                <div class="clear"></div>
            </li>
        </ul>
    </li>

    <li>
        <div class="header">JE PAYE AUTREMENT</div>
        <ul>
            <li>
                L'École du cavalier roi vous propose de voir avec elle pour un paiement par chèque, virement, espèces...
                <div class="br10"></div>
                <input type="button" value="Payer" class="valider autre fright" title="Payer" />
                <div class="clear"></div>
            </li>
        </ul>
    </li>
</ul>

<input type="button" value="Revenir" class="revenir fright" title="Revenir" />

<div class="clear"></div>
