@model List<WS.Models.OUT.Contenu>


@if ((Model != null) && (Model.Count > 0))
{

    List<WS.Models.OUT.Contenu> _PartenariatsBandeaux = new List<WS.Models.OUT.Contenu>();

    if (Model.FindAll(c => c.Exclusif != null && c.Exclusif == true).Count > 0)
    {
        _PartenariatsBandeaux = Model.FindAll(c => c.Exclusif == true);
    }
    else
    {
        _PartenariatsBandeaux = Model;
    }

    foreach (WS.Models.OUT.Contenu _Current in _PartenariatsBandeaux)
    {
        <div class="partenariat_encart">
            <a href="@_Current.Lien" target="_blank" title="Cliquer pour consulter"><img src="/Content/Images/Contenus/@_Current.Id/@_Current.Horizontale" /></a>
        </div>
    }

}


<script language="javascript" src="@Url.Content("~/Scripts/Views/Shared/PartenariatsEncarts.js")" type="text/javascript"></script>
