@model List<WS.Models.OUT.Contenu>


@if ((Model != null) && (Model.Count > 0))
{

    foreach (WS.Models.OUT.Contenu _Current in Model)
    {
        <div class="zone">
            @if (!String.IsNullOrEmpty(_Current.Full))
            {
                <a href="@Constants.IMG_URL/Contenus/@_Current.Id/@_Current.Full" target="_blank" title="Cliquer pour agrandir"><img class="photo" src="@Constants.IMG_URL/Contenus/@_Current.Id/@_Current.Full" /></a>
            }
            @if (!String.IsNullOrEmpty(_Current.Titre))
            {
                <div class="titre">@_Current.Titre</div>
            }
            @if (!String.IsNullOrEmpty(_Current.Texte))
            {
                <div class="texte">@Html.Raw(_Current.Texte.ToBR())</div>
            }
        </div>
    }

}

