@{
    Layout = "~/Views/Shared/_LayoutFrontOffice.cshtml";
}

<div class="stages">

    <div class="zone">
        <img class="photo" src="~/Content/Images/Stages.jpg" />
        <div class="titre">LES STAGES DE L'ECOLE DU CAVALIER ROI</div>
        <div class="texte">
            Les stages sont des cours en groupe qui auront pour but d'aborder certaines parties du jeu plus en profondeur et en détail.
            <br />
            <br />
            Certains stages seront orchestrés par des Maîtres ou des grands Maître qui partageront avec vous leur expérience et leur savoir du haut niveau afin vous abordiez les futures compétitions en étant mieux préparer !
            <br />
            <br />
            Nous proposerons aussi des formules "stage/tournoi".
            <br />
            <br />
            Le matin sera destiné à la préparation et l'après-midi vous jouerez des parties dans une compétition homologuée FIDE afin de pouvoir mettre en application direct ce que vous avez appris lors du stage.

        </div>
    </div>

    <div class="clear"></div>

    <div class="stage">
        <img class="photo" src="~/Content/Images/Map.jpg" />
        <span class="titre">STAGE DE JANVIER 2019</span>
        <div class="clear-left"></div>
        <span class="descriptif texte">
            Et voilà enfin ce que vous attendez tous !
            <br />
            <vr />
            Le premier stage de perfectionnement aux échecs par Eric MORY informatisé !
            <br />
            <br />
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ip...
            <br />
            <br />
            Ce stage se déroulera du <span>14 Janvier 2019</span> au <span>18 Janvier 2019</span>.
            <br />
            <br />
            Attention, les places sont limitées, il n'y en aura par pour tout le monde. Plusieurs formules sont disponibles, à vous de choisir laquelle vous conviendra le mieux !
        </span>
        <div class="clear-left"></div>
        <div class="date">
            <div>Date de début : <span>01/07/2019 10:00</span></div>
            <div class="clear-left"></div>
            <div>Date de fin : <span>31/08/2019 17:00</span></div>
            <div class="clear-left"></div>
            <div>Date limite d'inscription : <span>01/07/2019 20:00</span></div>
            <div class="clear-left"></div>
            <div>Nombre minimum de participants : <span>10</span></div>
            <div class="clear-left"></div>
            <div>Nombre maximum de participants : <span>30</span></div>
        </div>
        <div class="clear-left"></div>
        <table cellpadding="0" cellspacing="0" border="0" class="formule2 texte">
            <tr>
                <td class="prix">160,00€&nbsp;&nbsp;</td>
                <td class="reserver"><input type="button" title="Réserver" value="Réserver" /></td>
            </tr>
        </table>
    </div>

    <div class="stage last">
        <img class="photo" src="~/Content/Images/Map.jpg" />
        <span class="titre">STAGE DE MARS 2019</span>
        <div class="clear-left"></div>
        <span class="descriptif texte">
            Et voilà enfin ce que vous attendez tous !
            <br />
            <vr />
            Le premier stage de perfectionnement aux échecs par Eric MORY informatisé !
            <br />
            <br />
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ip...
            <br />
            <br />
            Attention, les places sont limitées, il n'y en aura par pour tout le monde. Plusieurs formules sont disponibles, à vous de choisir laquelle vous conviendra le mieux !
        </span>
        <div class="clear-left"></div>
        <div class="date">
            <div>Date de début : <span>01/07/2019 10:00</span></div>
            <div class="clear-left"></div>
            <div>Date de fin : <span>31/08/2019 17:00</span></div>
            <div class="clear-left"></div>
            <div>Date limite d'inscription : <span>01/07/2019 20:00</span></div>
            <div class="clear-left"></div>
            <div>Nombre minimum de participants : <span>10</span></div>
            <div class="clear-left"></div>
            <div>Nombre maximum de participants : <span>30</span></div>
        </div>
        <div class="clear-left"></div>
        <table cellpadding="0" cellspacing="0" border="0" class="formule texte">
            <tr>
                <td class="libelle">FORMULE COMPLETE</td>
                <td class="prix">160,00€&nbsp;&nbsp;</td>
                <td class="reserver"><input type="button" title="Réserver" value="Réserver" /></td>
            </tr>
            <tr>
                <td class="libelle">FORMULE 2 DEMI-JOURNEES</td>
                <td class="prix">40,00€&nbsp;&nbsp;</td>
                <td class="reserver"><input type="button" title="Réserver" value="Réserver" /></td>
            </tr>
            <tr>
                <td class="libelle">FORMULE 3 DEMI-JOURNEES</td>
                <td class="prix">60,00€&nbsp;&nbsp;</td>
                <td class="reserver"><input type="button" title="Réserver" value="Réserver" /></td>
            </tr>
        </table>
    </div>

    <div class="stage">
        <span class="titre">STAGE DE MAI 2019</span>
        <div class="clear-left"></div>
        <span class="descriptif texte">
            Et voilà enfin ce que vous attendez tous !
            <br />
            <vr />
            Le premier stage de perfectionnement aux échecs par Eric MORY informatisé !
            <br />
            <br />
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ip...
            <br />
            <br />
            Attention, les places sont limitées, il n'y en aura par pour tout le monde. Plusieurs formules sont disponibles, à vous de choisir laquelle vous conviendra le mieux !
        </span>
        <div class="clear-left"></div>
        <div class="date">
            <div>Date de début : <span>01/07/2019 10:00</span></div>
            <div class="clear-left"></div>
            <div>Date de fin : <span>31/08/2019 17:00</span></div>
            <div class="clear-left"></div>
            <div>Date limite d'inscription : <span>01/07/2019 20:00</span></div>
            <div class="clear-left"></div>
            <div>Nombre minimum de participants : <span>10</span></div>
            <div class="clear-left"></div>
            <div>Nombre maximum de participants : <span>30</span></div>
        </div>
        <div class="clear-left"></div>
        <table cellpadding="0" cellspacing="0" border="0" class="formule texte">
            <tr>
                <td class="libelle">FORMULE COMPLETE</td>
                <td class="prix">160,00€&nbsp;&nbsp;</td>
                <td class="reserver"><input type="button" title="Réserver" value="Réserver" /></td>
            </tr>
            <tr>
                <td class="libelle">FORMULE 2 DEMI-JOURNEES</td>
                <td class="prix">40,00€&nbsp;&nbsp;</td>
                <td class="reserver"><input type="button" title="Réserver" value="Réserver" /></td>
            </tr>
            <tr>
                <td class="libelle">FORMULE 3 DEMI-JOURNEES</td>
                <td class="prix">60,00€&nbsp;&nbsp;</td>
                <td class="reserver"><input type="button" title="Réserver" value="Réserver" /></td>
            </tr>
        </table>
    </div>

    <div class="stage last">
        <span class="titre">STAGE D'ETE 2019</span>
        <div class="clear-left"></div>
        <span class="descriptif texte">
            Et voilà enfin ce que vous attendez tous !
            <br />
            <vr />
            Le premier stage de perfectionnement aux échecs par Eric MORY informatisé !
            <br />
            <br />
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ip...
            <br />
            <br />
            Attention, les places sont limitées, il n'y en aura par pour tout le monde. Plusieurs formules sont disponibles, à vous de choisir laquelle vous conviendra le mieux !
        </span>
        <div class="clear-left"></div>
        <div class="date">
            <div>Date de début : <span>01/07/2019 10:00</span></div>
            <div class="clear-left"></div>
            <div>Date de fin : <span>31/08/2019 17:00</span></div>
            <div class="clear-left"></div>
            <div>Date limite d'inscription : <span>01/07/2019 20:00</span></div>
            <div class="clear-left"></div>
            <div>Nombre minimum de participants : <span>10</span></div>
            <div class="clear-left"></div>
            <div>Nombre maximum de participants : <span>30</span></div>
            <div class="clear-left"></div>
        </div>
        <div class="clear-left"></div>
        <table cellpadding="0" cellspacing="0" border="0" class="formule2 texte">
            <tr>
                <td class="prix">300,00€&nbsp;&nbsp;</td>
                <td class="reserver"><input type="button" title="Réserver" value="Réserver" /></td>
            </tr>
        </table>
    </div>

    <div class="clear"></div>

    @Html.Partial("~/Views/Shared/Partenariats_Medium.cshtml")

    <div class="clear"></div>

</div>

<script language="javascript" src="@Url.Content("~/Areas/Evenements/Scripts/Views/Stages.js")" type="text/javascript"></script>